.jumbotron {
  display: flex;
  align-items: center;
  text-align: center;
  padding: 250px 0;
  background-color: #170420;
  background-size: cover;
  color: #ffffff;
  height: 500px;
  text-shadow: 0.25px 0.25px 0.25px #000000;
}
.jumbotron div {
  width: auto;
  margin: 0;
  margin-left: auto;
  margin-right: auto;
  color: #fff;
}
.jumbotron h1:hover {
  font-size: 105px;
   text-shadow: #000000 2px 8px 8px;
}
.jumbotron h1 {
  font-size: 90px;
  font-family: 'Julius Sans One', sans-serif;
  font-weight: 100;
  text-shadow: #000000 2px 2px 3px;
  transition: all .3s;
  color: #fff;
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 500px;
  width: 500px;
  line-height: 500px;
  background-color: #EA1646;
  -moz-border-radius: 500px; /* or 50% */
  border-radius: 500px; /* or 50% */
}

